<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chariotsolutions.nfc.demo.p2p" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>P2PDemo</name>
    <description>
        Sample Peer to Peer NFC app for https://github.com/chariotsolutions/phonegap-nfc
    </description>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
